/* Index Styles of Index Page */
/* Created By Niladri Mondal */

/*===================================== Imports =======================================*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");

/*======================================= General ========================================*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", sans-serif;
    background: var(--mediumwhite);
}

/*===================================== Variables =======================================*/

:root {
    --darkblack: #222831;
    --lightblack: #495464;

    --darkmode_dark: #1b1b2f;
    --darkmode_medium: #1f1f37;
    --darkmode_light1: #2a284f;
    --darkmode_light2: #2b2b3f;

    --darkwhite: #ffffff;
    --mediumwhite: #fafafa;
    --lightwhite: #f1f6f9;

    --lightgrey: #9ba4b4;
    --mediumgrey: #dcdcdc;
    --darkgrey: #393e46;

    --lightyellow: #fddb3a;
    --lightred: #ff005c;
    --lightblue: #0075f6;
    --lightgreen: #00ff7f;
    --lightcyan: #20fdee;
    --lightviolet: #6961f5;
}

/*======================================= Fonts =========================================*/

@font-face {
    font-family: "Housttely";
    src: url("../fonts/Housttely.ttf");
}

@font-face {
    font-family: "RomateHood";
    src: url("../fonts/RomateHood.otf");
}

/*====================================== Settings =======================================*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--lightviolet);
}

::selection {
    color: var(--darkwhite);
    background: var(--lightred);
}

img,
.noselect {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

/*==================================== Loader Section =====================================*/
