/* Index Styles of Index Page */
/* Created By Niladri Mondal */

/*===================================== Main Fonts =======================================*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Convergence&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");

/*======================================= General ========================================*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", sans-serif;
    background: var(--darkmode_dark) url(../img/pattern_bg_dark.png);
    transition: all 0.2s ease;
}

/*===================================== Icons =======================================*/

@import url("https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

/*===================================== Variables =======================================*/

:root {
    --darkblack: #222831;
    --lightblack: #495464;

    --darkmode_dark: #1b1b2f;
    --darkmode_medium: #1f1f37;
    --darkmode_light1: #2a284f;
    --darkmode_light2: #2b2b3f;

    --darkwhite: #ffffff;
    --mediumwhite: #fafafa;
    --lightwhite: #f1f6f9;

    --lightgrey: #9ba4b4;
    --mediumgrey: #dcdcdc;
    --darkgrey: #393e46;

    --lightyellow: #fddb3a;
    --lightorange: #ffba00;
    --lightred: #ff005c;
    --lightblue: #0075f6;
    --lightgreen: #00ff7f;
    --lightcyan: #20fdee;
    --lightviolet: #6961f5;
}

/*======================================= Custom Fonts =========================================*/

@font-face {
    font-family: "Housttely";
    src: url("../fonts/Housttely.ttf");
}

@font-face {
    font-family: "RomateHood";
    src: url("../fonts/RomateHood.otf");
}

/*====================================== Settings =======================================*/

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--lightviolet);
}

::selection {
    color: var(--darkwhite);
    background: var(--lightred);
}

img,
.noselect {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

/*==================================== Particles =====================================*/

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*==================================== Loader =====================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--mediumwhite);
    z-index: 9999;
    transition: all 0.8s ease;
}

/* The loader container */

.loader {
    position: relative;
    width: 200px;
    height: 200px;
    background: transparent;
    border-radius: 50%;
    transition: all 0.4s ease;
}

/* All Dots Frames */

.loader .dot-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 40px;
    height: 40px;
    background: var(--lightwhite);
    border-radius: 50%;
    animation-fill-mode: both;
    animation: dot-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.loader .dot-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 70px;
    height: 70px;
    background: var(--lightviolet);
    border-radius: 50%;
    animation-fill-mode: both;
    animation: dot-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.loader .dot-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 110px;
    height: 110px;
    background: var(--lightviolet);
    border-radius: 50%;
    animation-fill-mode: both;
    animation: dot-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

/* All Dots Animation */

@keyframes dot-1 {
    0%,
    70% {
        transform: translate(-50%, -50%) scale(0);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
}

@keyframes dot-2 {
    0%,
    40% {
        transform: translate(-50%, -50%) scale(0);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
}

@keyframes dot-3 {
    0%,
    10% {
        transform: translate(-50%, -50%) scale(0);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
}

/*==================================== Header =====================================*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 60px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    z-index: 10;
    border-bottom: 4px solid var(--lightcyan);

    transform: translateY(-100%);
    background: transparent;
    box-shadow: none;
}

header.showHeader {
    transform: translateY(0);
    background: var(--darkmode_dark) url(../img/pattern_bg_dark.png);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

header nav a.navbar-brand {
    margin: auto 5px;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Rancho", sans-serif;
    color: var(--lightwhite);
    letter-spacing: 2px;
}

header nav div.navbar-btn {
    margin: auto 5px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav div.navbar-btn a {
    margin: auto 10px;
    padding: 10px;
    background: var(--darkmode_light1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    transition: all 0.3s ease;
}

header nav div.navbar-btn a:hover {
    background: var(--lightviolet);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

header nav div.navbar-btn a img {
    padding: 2px;
    width: 32px;
    height: 32px;
}

/* Header Responsive */

@media (max-width: 768px) {
    header {
        padding: 10px 20px;
    }
}

@media (max-width: 530px) {
    header nav a.navbar-brand {
        font-size: 1.4rem;
    }
    header nav div.navbar-btn a {
        margin: auto 5px;
    }
    header nav div.navbar-btn a img {
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 392px) {
    header nav {
        flex-direction: column;
    }
    header nav div.navbar-btn {
        margin: 10px auto auto;
    }
}

/*==================================== Banner =====================================*/
