/* STYLES CSS FOR INDEX PAGE */
/* Created By Niladri Mondal */

/*======================================= General ========================================*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Quicksand', sans-serif;
	background: #00081f url('../imgs/body_bg.jpg') center / cover;
}

/*===================================== Variables =======================================*/

/*======================================= Fonts =========================================*/

@font-face {
	font-family: 'Aquino';
	src: url('../fonts/Aquino.ttf');
}

@font-face {
	font-family: 'Axeon';
	src: url('../fonts/Axeon.otf');
}

@font-face {
	font-family: 'Housttely';
	src: url('../fonts/Housttely.ttf');
}

@font-face {
	font-family: 'Rocketto';
	src: url('../fonts/Rocketto.ttf');
}

/*====================================== Settings =======================================*/

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #FFFFFF;
}

::selection {
	color: #FFFFFF;
    background: #FF4B5C;
}

.no-select {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

/*==================================== Loader Section =====================================*/

#preloader {
	position: fixed;
	top: 0;left: 0;
	width: 100%;
	height: 100vh;
	background: #00081f;
	z-index: 9999;
	transition: all 0.5s ease;
}

/* The loader container */
.loader {
	display: inline-block;
	width: 50px; height: 50px;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	border: 4px solid #fff;
	border-radius: 10px;
	animation: loader 2s infinite ease;
}

.loader-inner {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background: #fff;
	animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
	0% {transform: rotate(0deg);}

	25% {transform: rotate(180deg);}

	50% {transform: rotate(180deg);}

	75% {transform: rotate(360deg);}

	100% {transform: rotate(360deg);}
}

@keyframes loader-inner {
	0%   {height: 0%}

	25%  {height: 0%}

	50%  {height: 100%}

	75%  {height: 100%}

	100% {height: 0%}
}

/*==================================== Neon Section =====================================*/

#neon-container {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: #00081f url('../imgs/neon_bg.png') fixed center / cover;
	animation: hue 10s linear infinite alternate;
}

/*==================================== Glass Section =====================================*/

#glass-container {
	margin: 100vh 100px 100px;
	border-radius: 10px;
	background: rgba(250,250,250,0.1);
	backdrop-filter: blur(4px);
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

/*=============================== Keyframes Hue Animation ================================*/

@keyframes hue {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}

/*==================================== Main Contents =====================================*/

.container {
	padding: 50px 10px;
	position: relative;
}

/*==================================== Header Contents =====================================*/

.container .header-contents {
	margin: 50px auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container .header-contents h4 {
	margin: 10px auto;
	font-size: 4rem;
	font-family: 'Axeon';
	color: #f1f6f9;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.container .header-contents h2 {
	margin: 100px auto;
	font-size: 3rem;
	font-weight: 700;
	font-family: 'Housttely';
	color: #f1f6f9;
	text-align: center;
	letter-spacing: 3px;
	word-spacing: 5px;
}

.container .header-contents a {
	position: relative;
	margin: 20px auto;
	padding: 8px 30px;
	font-size: 1.4rem;
	font-weight: 400;
	font-family: 'Aquino';
	word-spacing: 2px;
	color: #14274e;
	background: #f1f6f9;
	border: 3px solid #f1f6f9;
	border-radius: 30px;
	box-shadow: 0 12px 30px rgba(0,0,0,0.2);
	transition: all 0.8s ease-in-out;
}

.container .header-contents a:before {
	content: 'My Profile';
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	clip-path: circle(15% at 2% 50%);
	padding: 8px 30px;
	color: #f1f6f9;
	background: #14274e;
	border-radius: 30px;
	transition: all 0.8s ease-in-out;
}

.container .header-contents a:hover:before {
	clip-path: circle(15% at 98% 50%);
}

/*==================================== Repo Contents =====================================*/

.container .repo-contents {
	margin: 30px auto;
	position: relative;
}

.container .repo-contents h3 {
	position: relative;
	margin: 10px auto;
	font-size: 5rem;
	font-weight: 600;
	font-family: 'Rocketto';
	color: #f1f6f9;
	text-align: center;
	letter-spacing: 2px;
	word-spacing: 10px;
	transition: all 0.4s ease;
}

.container .repo-contents h3:after {
	content: '';
	position: absolute;
	left: 50%; bottom: -10%;
	transform: translateX(-50%);
	width: 50%;
	height: 5px;
	background: #fafafa;
	border-radius: 50%;
}

/*==================================== Repo Cards =====================================*/

.container .repo-contents .repo-cards {
	margin: 100px auto;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.container .repo-contents .repo-cards a.cards {
	position: relative;
	margin: 10px 20px;
	padding: 20px 40px;
	background: rgba(255,255,255,0.1);
	box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
	border-radius: 15px;
	border: 2px solid rgba(255,255,255,0.15);
	transform-style: preserve-3d;
	transform: perspective(1000px);
}

.container .repo-contents .repo-cards a.cards img {
	margin: 30px;
	width: 80px;
	height: 80px;
	transform: translateZ(20px);
	transition: all 0.3s ease;
}
