/* General */

* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background: #fafafa;
	font-family: 'Rubik', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none !important;
	transition: all 0.6s ease;
}

html ::-webkit-scrollbar {width: 8px; height: 8px;}
html ::-webkit-scrollbar-thumb {background: #222831;}
html.dark ::-webkit-scrollbar-thumb {background: #FAFAFA;}




















/* Main Container */

.container {
	position: relative;
	display: flex;
	justify-content: center;
}

/* Form Section/Div */

form.calculator {
	margin: 10px;
	padding: 20px 30px 10px;
	position: relative;
	width: 40%;
	background: #fafafa;
	border-radius: 10px;
	box-shadow: 0 8px 16px rgba(0,0,0,.15);
	transition: all 0.3s ease;
}

@media (max-width: 992px) {form.calculator { width: 60% }}
@media (max-width: 768px) {form.calculator { width: 80% }}
@media (max-width: 428px) {form.calculator { margin: 0; width: 100% }}
@media (max-width: 330px) {form.calculator { padding: 20px 10px }}


/* Dark Mode Div */

form.calculator .dark_mode {
	position: absolute;
	top: 0; right: 0;
	width: 100%;
	height: 100%;
	background: #1f1f37;
	border-radius: 10px;
	clip-path: circle(0% at 86.2% 8%);
	transition: clip-path 0.5s ease;
}


/* Calculator Navbar */

form.calculator .calc_nav {
	position: relative;
	width: 100%;
}

/* Calculator Nav Header */
form.calculator .calc_nav .calc_head {
	display: flex;
	margin: 10px 0 30px;
}

form.calculator .calc_nav .calc_head img {
	width: 35px;
	height: 35px;
	filter: invert(0);
	transition: all 0.3s ease;
}

form.calculator .calc_nav .calc_head h3 {
	margin: 5px 5px 0;
	font-size: 26px;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
	color: #3b3b42;
	transition: all 0.3s ease;
}

/* Calculator Mode Switch */
form.calculator .calc_nav .calc_mode {
	position: absolute;
	top: 15px;
	right: 30px;
}

form.calculator .calc_nav .calc_mode i {
	padding: 8px;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	font-size: 24px;
	color: #3b3b42;
	background: #f9f6f7;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s ease;
}

form.calculator .calc_nav .calc_mode i.darker {
	opacity: 1;
	transform: translate(-50%,-50%) scale(1) rotate(0deg);
}

form.calculator .calc_nav .calc_mode i.lighter {
	opacity: 0;
	transform: translate(-50%,-50%) scale(0) rotate(0deg);
}

form.calculator .calc_nav .calc_mode i.darker.dark {
	opacity: 0;
	transform: translate(-50%,-50%) scale(0) rotate(360deg);
}

form.calculator .calc_nav .calc_mode i.lighter.dark {
	opacity: 1;
	transform: translate(-50%,-50%) scale(1) rotate(360deg);
}


/* Calculator Answer Display */

form.calculator input.calc_answer {
	position: relative;
	margin: 5px 0 20px;
	padding: 30px 10px;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
	color: #515961;
	background: none;
	box-shadow: none;
	border-radius: 8px;
	border: 3px solid #E4E5F1;
	cursor: default;
	transition: all 0.3s ease;
}


/* Calculator All Switches/Buttons */

form.calculator div.calc_switch {
	position: relative;
	margin: 2px 2px 6px 2px;
	padding: 0;
	border-radius: 8px;
	border: 1px solid #E4E5F1;
	transition: all 0.3s ease;
}

form.calculator span.calc_btn {
	position: relative;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 600;
	font-family: 'Rubik', sans-serif;
	text-align: center;
	color: #495464;
	background: none;
	border: 3px solid #E4E5F1;
	cursor: pointer;
	transition: all 0.3s ease;
}

form.calculator span.calc_btn:hover {
	background: #f1f6f9;
}

form.calculator span.calc_num  {font-size: 18px}
form.calculator span.calc_sign {font-size: 19px}
form.calculator span.calc_val  {font-size: 20px}


/*form.calculator span.calc_num  {background: #b8b5ff}*/
/*form.calculator span.calc_sign {background: #fd3a69}*/
/*form.calculator span.calc_val  {background: #54e346}*/


/* Creator Footer */

footer {
	margin: 30px 0 10px;
	position: relative;
}

footer p {
	font-size: 15px;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
	text-align: center;
	letter-spacing: 1px;
	color: #393e46;
	transition: all 0.3s ease;
}




















/* Dark Modes */

body.dark { background: #1b1b2f }

body.dark form.calculator { background: #1f1f37 }

form.calculator .dark_mode.dark { clip-path: circle(200% at 86.2% 8%) }

body.dark form.calculator .calc_nav .calc_head img { filter: invert(1) }

body.dark form.calculator .calc_nav .calc_head h3 { color: #fafafa }

body.dark form.calculator .calc_nav .calc_mode i { color: #fafafa; background: #1b1b2f; }

body.dark form.calculator input.calc_answer {
	color: #f1f6f9;
	background: #1f1f37;
	/*border: 3px solid #312c51;*/
	border: none;
	box-shadow: 5px 4px 2px #1a1a2f,
				-5px -2px 2px #24243f,
				inset 5px 5px 2px #1a1a2f,
				inset -5px -5px 2px #24243f;
}

body.dark form.calculator div.calc_switch { border: 1px solid #312c51 }

body.dark form.calculator span.calc_btn { color: #fafafa; border: 3px solid #312c51; }

body.dark form.calculator span.calc_btn:hover { background: #342E5A; }

body.dark footer p { color: #fbf9fa; }
