/* General */

* {
	margin: 0;
	padding: 0;
}

body {
	background: #fafafa;
	font-family: 'Rubik', sans-serif;
}

:root {
	--black-color: #14274E;
	--dark-color: #1F1F37;
	--light-color: #F1F6F9;
	--white-color: #F9FCFB;
}

/*===========================================================================================================*/

/* Responsive Alert */

#alert {
	display: none;
}

.alert {
	width: 80%;
	padding: 20px;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
}

.alert h6 {
	font-size: 18px;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
	text-align: center;
}

.alert h6 strong {
	display: block;
	font-size: 24px;
}

@media (max-width: 660px) {
	#alert {
		display: block;
	}
}

/*===========================================================================================================*/

/* Container */

.container {
	position: relative;
	max-width: 100%;
	height: 100vh;
	background: #fafafa;
}

@media (max-width: 660px) {
	.container {
		display: none;
	}
}

/*===========================================================================================================*/

/* Clock Boxes */

.box {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	width: 50%; height: 50vh;
	border: 4px solid #E4E5F1;
	transition: all 0.6s ease;
}

.box h4 {
	position: absolute;
	top: 20px;
	color: #394867;
	font-size: 24px;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
	text-align: center;
	transition: all 0.4s ease;
}

body.dark .box {
	border: 4px solid #312c51;
}

body.dark .box h4 {
	color: #9BA4B4;
}

.box1 {top: 0; left: 0;}
.box2 {top: 0; right: 0;}
.box3 {bottom: 0; left: 0;}
.box4 {bottom: 0; right: 0;}


@media (max-width: 1290px) {
	.box {
		position: relative;
		width: 100%; height: 50vh;
	}
}

/*===========================================================================================================*/

/* Theme Modes */

div.theme_modes {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
}

@media (max-width: 1290px) {
	div.theme_modes {
		position: fixed;
		top: 10%; left: 90%;
		transform: translate(0,0);
	}
}

div.theme_modes i {
	padding: 15px;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	font-size: 28px;
	color: #14274E;
	background: #EDEEF7;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.5s ease;
}

div.theme_modes i.dark 			{color: #FAFAFA; background: #272343;}
div.theme_modes i.darker 		{opacity: 1; transform: translate(-50%,-50%) rotate(0deg);}
div.theme_modes i.lighter		{opacity: 0; transform: translate(-50%,-50%) rotate(0deg);}
div.theme_modes i.darker.dark 	{opacity: 0; transform: translate(-50%,-50%) rotate(360deg);}
div.theme_modes i.lighter.dark 	{opacity: 1; transform: translate(-50%,-50%) rotate(360deg);}

/*===========================================================================================================*/

/* Dark Theme */

div.dark_mode {
	position: absolute;
	top: 0; right: 0;
	width: 100%;
	height: 100%;
	background: #1F1F37;
	clip-path: circle(0% at 50% 50%);
	transition: clip-path 0.6s ease;
}

div.dark_mode.dark {
	clip-path: circle(100% at 50% 50%);
}

/*===========================================================================================================*/

/* All Clocks */

.clock1,.clock2,.clock3,.clock4 {
	width: auto;
	font-family: sans-serif;
}

/*===========================================================================================================*/

/* Main Clock Styles Settings */

.flip-clock-dot {
	background: #1F1F37;
	transition: all 0.3s ease;
}

.flip-clock-divider .flip-clock-label {
	color: #1F1F37;
	font-size: 20px;
	font-weight: 600;
	font-family: 'Rubik', sans-serif;
	transition: all 0.3s ease;
}

.flip-clock-meridium a,
.flip-clock-meridium a:hover {
	color: #1F1F37;
	position: absolute;
	left: 20px;
	font-size: 50px;
	font-weight: 700;
	text-shadow: none;
	font-family: 'Rubik', sans-serif;
	transition: all 0.3s ease;
}

.flip-clock-divider.days .flip-clock-label {right: -95px;}
.flip-clock-divider.hours .flip-clock-label {right: -100px;}
.flip-clock-divider.minutes .flip-clock-label {right: -110px;}
.flip-clock-divider.seconds .flip-clock-label {right: -110px;}

/*Main Clock (Color & Background)*/

.flip-clock-wrapper ul li a div div.inn {
	color: #F1F6F9;
	text-shadow: none;
	background-color: #1F1F37;
	transition: all 0.4s ease;
}

/*===========================================================================================================*/

/* Main Clock Dark Mode Settings */

body.dark .flip-clock-dot {
	background: #F1F6F9;
}

body.dark .flip-clock-divider .flip-clock-label {
	color: #F1F6F9;
}

body.dark .flip-clock-meridium a,
body.dark .flip-clock-meridium a:hover {
	color: #F1F6F9;
}

body.dark .flip-clock-wrapper ul li a div div.inn {
	color: #14274E;
	text-shadow: none;
	background-color: #F1F6F9;
}

/*===========================================================================================================*/